.indent {
	padding-left: 20px;
}
.cornerindent {
	padding-left: 20px; padding-top: 20px;
}
.topindent {
	padding-top: 20px;
}
.inputDataError {
    background-color: red
}
.zeroValue {
	background-color: yellow
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .5em .5em;
	text-decoration: none;
}

#data_table tr td:nth-of-type(3) { /* Select the 3rd td */
  cursor: pointer;
}
