.indent {
	padding-left: 20px;
}
.cornerindent {
	padding-left: 20px; padding-top: 20px;
}
.topindent {
	padding-top: 20px;
}
.inputDataError {
    background-color: red
}
.inputDataWarning {
	background-color: yellow
}
